body {
    background-color: grey;
}
.card {
    color: white;
    background-color: #343a40;
    font-weight: bold;
}
.modif-table {
    padding-top: 20px;
    border-radius: .25rem;
    background-color: #343a40;
    padding-left: 10px;
    padding-bottom: 20px;
}
.table {
    width: 100%;
}

/* Login page */
.login-row {
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login {
    background-color: #343a40;
    padding: 15px;
    border-radius: .25rem;
}
.login input{
    width: 100%;
}
.login input[type="submit"]{
    width: 50%;
}

@media (max-width: 992px) {
    .table-container {
        margin-top: 20px;
        padding: 0;
    }
    .modif-table {
        overflow-x: scroll;
    }
}
